<style>
  #outer {
    width: 300px;
    margin: 0px auto;
  }
  #pins {
    border:1px solid rgba(0,0,0,0.2);
    padding:10px;
  }
  #pins div {
    text-align: center;
    color: #EC9800;
  }
  #pins img {
    width: 100%;
  }
</style>

<div id="outer">
  <div id="pins">
    <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/belle.jpg">
    <div id="desc">belle</div>
  </div>
</div>