#columns{
  column-width: 300px;
  column-gap: 30px;
}
#columns figure{
  display:inline-block;
  margin: 0px auto;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
#columns figure img{
  margin-bottom: 30px;
  width: 100%;
}
#columns figure figcaption{
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 10px;
}